.site-header {
    background-color:  #1bbc9b;
    color:#ffff;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.site-header-content{
    margin: 2rem;
}
.profile-pic{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: #02241d 3px 5px 5px;
}
.link{
    color:#ffff;
}
body {
    margin: 0;
}